a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    text-decoration: none;
  }
  .icon-social-a {
    /* background: #000000; */ /* background: #b0b7bf; */
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
  }
/*   .icon-social-a:hover{
    transform: rotate(360deg);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,108,255,1) 0%, rgba(255,0,0,1) 100%);
    transition:0.5s;
  } */
  .icon-social-tw{
    background: rgb(77, 198, 255);
  }
  .icon-social-lk{
    background: rgb(72, 121, 255);
  }
  .icon-social-gh{
    background-color: rgb(41, 41, 41);
  }
  .icon-social-or{
    background-color: rgb(100, 202, 117);
  }
  .icon-social-a:hover {
    background: #cecece;
    /*  background: #778492; */
    transform: rotate(360deg);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,102,0,1) 70%); 
    transition:0.5s;
  }
  .icon-social {
    font-size: 20px;
    margin-top: 8px;
    color: white;
  }


.div-img{
    opacity: 1;
    position: relative;
	display: inline-block;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-image{
    width: 100%;
    max-height: 300px;
  /*   height: 100%; */
}

.div-img:hover .project-image{
/*     opacity: 0;
    transition:0.5s; */
}

.div-img:hover .img-text{
    /* opacity: 0.95; */
    opacity: 0;
    transition:0.5s;
}
/* .div-img:hover .project-image{
    opacity: 0.1;
    transition:0.5s;
} */

.img-text{
    opacity: 1;
	/* top:50%; */
    width: 100%;
    height: 100%;
    /* height: 300px; */
    /* 	width:150px;
	height:50px; */
   /*  margin-top: -25px; */
    position: absolute;
  /*   display:block; */
}

.icon-social-a2{
    width: 100%;
    height: 100%;
    font-size: 50px;
    position: relative;
    z-index: 9999;
    color: white;
}

.icon-social-a2:hover{
    color: rgb(173, 173, 173);
/*     background-color: red;
    cursor: pointer; */
}

.tech-icon{
    font-size: 40px;
}

.work-icons{
    width: 20px;
    height: 20px;
}




.div-img2{
    opacity: 1;
    position: relative;
	display: inline-block;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-image2{
   /*  width: 100%; */
    /* height: 300px; */
    max-height: 300px;
    /* max-width:100%; */
  /*   height: 100%; */
}

.div-img2:hover .img-text2{
    /* opacity: 0.95; */
    opacity:0.9;
    transition:0.5s;
}

.img-text2{
    opacity: 0;
	/* top:50%; */
    width: 100%;
    height: 120px;
    max-width: 450px;
    /* margin-top: 165px; */
    /* height: 100%; */
    /* 	width:150px;
	height:50px; */
   /*  margin-top: -25px; */
    position: absolute;
  /*   display:block; */
}

#btn-back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

.book-image{
  height: 150px;
}







.container1 {
  z-index: 1;
  perspective:3000px;
}

.container1:hover {
  z-index: 9999;
}

.container1 .book {
  position: relative;
  /* display: block; */
  width: 170px;
  height: 260px;
  /* margin: 5% auto; */
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
  font-family: acumin-pro, sans-serif;
/*   -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
-moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6); */
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;

  -webkit-transform: rotate3d(0,1,0,60deg);
  -moz-transform: rotate3d(0,1,0,60deg);
  transform: rotate3d(0,1,0,60deg); 
}

.container1 .book:hover {
 /*  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg); */ 
  -webkit-transform: rotate3d(0,0,0,0deg);
  -moz-transform: rotate3d(0,0,0,0deg);
  transform: rotate3d(0,0,0,0deg);
  transform: translateX(-90px);
  -webkit-transform: translateX(-90px);
  -moz-transform: translateX(-90px);
}

.container1 .book > div,
.container1 .front > div {
  display: block;
  position: absolute;
}


.container1 .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.container1 .front > div {
  width: 170px;
  height: 260px;
}

.container1 .left-side{
  width: 40px;
  left: -20px;
  height: 260px;
  background-color: rgba(232,229,234);
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.cover svg{
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -170px;
  margin-left: -110px;
  width: 260px;
}

.cover-book{
  width: 170px;
  height: 260px;
}

#eye-right {
  padding-left: 185px;
}

.cover .num-up{
  position: absolute;
  top: 64px;
  left: 47px;
  letter-spacing: 50px;
  transform: rotate(-90deg);
}

.cover .num-down{
  position: relative;
  top: 65px;
  left: -95px;
  transform: rotate(-90deg);
}

.author{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 475px;
  left: 50px;
  opacity: .8;
  }

.container1 .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container1 .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.container1 .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.container1 h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.cover {
 background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
}

/* .left-book{
  text-align: start;
  padding-left: 15px;
  color: white;
  font-size: 20px;
  font-family:monospace;
} */



/* 
.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 15px;
  padding-top: 150px;
  padding-right: 20px;
} */

/* .left-side h2 span:last-child{
  font-family: acumin-pro, sans-serif;
}  */

.flag-exp{
  cursor: pointer;
}