.demo-video {
  position: relative;
}

@media (min-width: 1280px) {
  .demo-video-hover {
    position: relative;
    transform: translateX(-60px) scale(1.35);
    z-index: 1000;
  }
}

.project-card:hover,
.project-card-clicked {
  background-color: rgb(255, 240, 193) !important;
}
