.demo-video {
  position: relative;
}

.demo-video-hover {
  position: relative;
  transform: translateX(-60px) scale(1.35);
  z-index: 1000;
}

.project-card:hover {
  background-color: rgb(255, 240, 193) !important;
  z-index: 1;
}
