.book {
  width: 45px;
  height: 280px;
  position: relative;
  margin-left: 1px;
  transform-style: preserve-3d;
  /* transform: translateZ(0) rotateY(-30deg); */ /* if 3D rotateX(-5deg);*/
  transform: rotateX(-10deg) rotateZ(-15deg) rotateY(-20deg);
  transition: transform 1s;
  /* margin-right: 5px; */
}

.side {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  color: black;
  text-align: center;
  transform-origin: center left;
}

.spine {
  position: relative;
  background-image: var(--tartan);
  transform: rotateY(0deg) translateZ(0px);
}

.spine-title {
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-size-adjust: none;
}

.spine-author {
  position: absolute;
  color: goldenrod;
  bottom: 0px;
  left: 20%; /* no idea why 20% centers it */
}

.top {
  top: -0.5px; /* hmm, why -2 and not 0? */
  background-image: linear-gradient(90deg, white 90%, gray 10%);
  background-size: 5px 5px;
  transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}

.bot {
  height: 190px;
  background-image: linear-gradient(90deg, white 90%, gray 10%);
  background-size: 5px 5px;
  transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}

.cover {
  width: 190px;
  height: 280px;
  top: 0px;
  background-image: url("https://picsum.photos/190/280");
  background-size: contain;
  background-repeat: round;
  left: 50px;
  transform: rotateY(90deg) translateZ(0);
  transition: transform 1s;
}

.book:hover {
  z-index: 100;
  /* OLD transform: translateY(30px) translateX(-60px) rotateX(20deg) rotateY(-70deg)
    rotateZ(-0deg); */
  transform: translateY(30px) translateX(-130px) rotateX(0deg) rotateY(-90deg)
    rotateZ(-10deg);
}
